<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/lab-10/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
      <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later List</a></li>
  </div>
</nav>
