{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1 style="color:red"> {{ movie.title}} ({{ movie.year }})</h1>
    <img src="{{ movie.poster }}">
    <p>Metascore: {{ movie.metascore }}</p>
    <p>Genre: {{ movie.genre }}</p>
    <p>Rated: {{ movie.rated }}</p>
    <p>Type: {{ movie.type }}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Language: {{ movie.language }}</p>
    <p>Plot:</p>
    <p>{{ movie.plot }}</p>

    <hr>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>
</div>
{% endblock %}
