<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/lab-9/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'lab-9:cookie_clear' %}" onclick="return confirm('Keluar?')"> Logout (Cookie) </a></li>
      <li><a href="{% url 'lab-9:index' %}"> Go to Session </a></li>
  </div>
</nav>
