<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'lab-7:index' %}">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'lab-7:friend-list' %}">Friend List</a></li>
  </div>
</nav>
